@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@font-face{
    src : url(/font/BraveEightyoneRegular-ZVGvm.ttf);
    font-family : brave;
  }
  body{
    background-color: black;
  }

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  
}
header {
    min-height: 100vh;
    width: 100%;
    background-color: black;
    background-position: center;
    background-size: cover;
    position: relative;

}
.navbars{
    display: flex;
    padding: 1% 6%;
    justify-content: space-between;
    align-items: center;
    /* position: fixed; */
    transition: top 0.3s;
    background-color:linear-gradient(rgb(0, 0, 0),rgba(0, 0, 0, 0)) black;
    margin-bottom: 100px;
}
.logo{
    height: 50px ;
    width: auto;
}
.navbars img{
    width: 80px;
    border-radius: 10%;
    
}
.nav-links{
    flex: 1;   
    text-align: right;
}
.nav-links ul li{
   
    list-style: none;
    display: inline-block;
    padding: 8px 20px;
    position: relative;
    
}
.nav-links ul li a{
    color: rgba(177, 177, 177, 0.807);
    font-family: 'Open Sans', sans-serif;
        text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background:rgb(255, 255, 255);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
    
}
button{
    padding: 8px 20px;
    color:black;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
        transition: all 0.3s ease 0s;
        /* padding-left: 10px; */
  }
  button:hover{
    background-color: rgb(41, 212, 255);
  }
  .text-box {

    width: 90%;
    color: rgba(255, 255, 255, 0.63);
    text-align: center;
    display : inline;
}

.text-box h1 {
    color: rgb(255, 255, 255);
    font-family: 'Red Hat Display', sans-serif;
    font-size: 35px;
    font-weight: 600;

}

.text-box h2 {
    color: rgb(255, 255, 255);

    margin-top: 40px;
    margin-left: 15.8%;
    text-align: left;
}

.text-box p {
    width: 70%;
    letter-spacing: 0.1em;
    word-spacing: 0.01em;
    font-family: 'Red Hat Display', sans-serif;
    margin: 10px 20px 20px 15%;
    line-height: 30px;
    font-weight: 400;


    font-size: 15px;
    color: rgb(208, 208, 208);
    text-align: left;
}
.row {
  display: flex;
  height: 300px;
  background-color: black;
}

.column {
  flex: 25%;
  padding: 0;
}

  .footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;

}

.footer h4 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;

}
footer{
    position: relative;
    width: 100%;
    background: #000000;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  footer .social_icon,footer .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  footer .social_icon li,footer .menu li{
    list-style: none;
  }
  footer .social_icon li a{
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  footer .social_icon li a:hover{
    transform: translateY(-10px);
  }
  footer .menu li a{
    font-size: 1.2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
  }
  footer .menu li a:hover{
    opacity: 1;
  }  
  footer .menu li{
    transition: transform 0.5s;
  }
  footer .menu li:hover{
    left: 10px;
    transform: scale(1.2);
  }
  footer p{
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
  }
  *::-webkit-scrollbar {
    width: 12px;
    
  }
    *::-webkit-scrollbar-track {
      background: linear-gradient(to top, #391637, #25235d), rgba(0, 0, 0, 0.6);
    }
    
    *::-webkit-scrollbar-thumb {
      background: linear-gradient(
        287.43deg,
        #0aebff9e,
        #9de7ff82 33.27%,
        #239db988 61.72%,
        #02c0ff7d 82.93%
        
      )
      ;
      border-radius: 3px;
    }
    html{
      scroll-behavior: smooth;
    }
    .gotopbtn{
      position: fixed;
      width: 50px;
      height: 50px;
      background: #ffffff;
      bottom: 40px;
      border-radius: 20px;
      right: 50px;
    
      text-decoration: none;
      text-align: center;
      line-height: 50px;
      color: rgb(0, 0, 0);
      font-size: 22px;
      transition-duration: 0.5s;
    }
    .gotopbtn:hover{
      background-color: #000000;
      color: white;
    }